/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roasting';
    src: url('../fonts/roasting/Roasting.ttf');
}
p{
    margin-bottom: 0 !important;
}
.banner{
    position: relative;
    height: 100vh;
}
.carousel-fade,
.carousel-fade .carousel-inner,
.carousel-fade img{
    height: 100vh;
}
.carousel-fade img{
    object-fit: cover;
    position: relative;
    
}
.carousel-fade .carousel-item {
    max-height: 100vh;
    opacity: 0;
    transition-duration: 2s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
}

.logo{
    width: 158px;
    object-fit: contain;
}
.top-navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    margin-right: 16px;
}
a.login-btn{
    color: #FFFFFF;
    width: 87px;
    height: 38.96px;
    background: #D83941;
    border-radius: 20px;
    margin-right: 0;
    padding: 7px 15px;
}
.banner-title{
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    width: calc(100vw - 20%);
    height: 260px;
    left: 50%;
    transform: translateX(-50%);
    top: 319px;
}
.banner-title .title-1{
    font-family: 'Roasting';
    font-style: normal;
    font-weight: 400;
    font-size: 143.508px;
    /* line-height: 260px; */
}
.banner-title .title-2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}












@media (min-width: 1400px){
    .container {
        max-width: 1340px;
    }
}
  